#menubar ul{

    margin-top:8px;
}
#menubar ul li.bar{
    color:white;
    font-size: 12px;
}
.bbox ul{

    margin-right: -13px;

}
.bbox ul li{

    margin-top: 13px;

}
.bbox ul li a{
    margin-right:8px; 
}